
*
!.gitignore





# https://www.spriters-resource.com/snes/mmx/asset/3109/



# https://www.spriters-resource.com/snes/mmx/asset/3109/

# https://www.spriters-resource.com/media/assets/27/29570.png?updated=1755472637

# -rw-r--r-- 1 russj 197609 22K Jul 29 00:14 storm_eagle_clouds.png
# -rw-r--r-- 1 russj 197609 12K Jul 29 00:10 tell_tale_heart.md


# https://www.spriters-resource.com/snes/mmx/asset/27770/


!storm_eagle_stage_with_transparency.png
!storm_eagle_clouds.png


# https://forum.godotengine.org/t/how-to-make-texture-repeat-on-scale-2d/743/5
!storm_eagle_clouds_cropped.png


# https://commons.wikimedia.org/wiki/File:European_starling_in_CP_(33849).jpg
!European_starling_in_CP_(33849).jpg


# https://www.spriters-resource.com/pc_computer/gravitycircuit/asset/495225/
!PC _ Computer - Gravity Circuit - Bosses - Commander Circuit/*



# https://www.youtube.com/watch?v=KRPPmKv3RX4
# https://www.youtube.com/watch?v=ipsDm-bQOoI

# Animated texture works also a tileset can have animation
# Atlas merged using merge tool in godot.

# https://github.com/godotengine/godot/issues/70860
!br-plat-10000-merged.png

!br-plat-*-merged.png


!mega_man_2_title_screen_2321.png
#https://www.spriters-resource.com/nes/mm2/asset/2321/
# 
# I love how the windows are stored as sprites, as the NES has only one background layer, so devs usually make horizontal parallax and heck, Battletoads made parallax possible thanks to updating the background at different positions using CHR-RAM.
# Mega Man 2 also used CHR-RAM, but Capcom decided to push the limit not by updating the background, but by storing the moving tower objects as sprites.


# https://github.com/KoBeWi/Godot-Parallax2D-Preview